@import './variables.scss';

.content-wrapper {
    background-color: $color-tan;
    min-height: 50vh;
    margin: 0 5%;
    padding-bottom: 300px;

    @media (min-width: 480px){
        margin: 0 10%;
    }
}

.heading {
    text-align: center;
}

.grid-container.bookshelf {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px 110px 0 110px;
    text-align: center;
}

.grid-box {
    position: relative;
}

.grid-box, .grid-box-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.book-img.view {
    height: 190px;
    width: 120px;
}

.book-img.view:hover {
    cursor: pointer;
}

.grid-box-btn:hover {
    background-color: rgb(255, 255, 255, 0.7);
}
/* .view-btn {
    display: none;
} */