@import './variables.scss';

.content-wrapper {
    background-color: $color-tan;
    min-height: 50vh;
    margin: 0 auto;
    padding-bottom: 415px;

    @media (min-width: 480px){
        max-width: 1440px;
        padding-bottom: 245px;
    }
}

.content-container, .content-box {
    display: flex;
    justify-content: center;
    align-items: center;

    .content-box {
        flex-direction: column;
        align-items: flex-start;

        &.register, &.login {
            align-items: center;
        }

        .user-form {
            background-color: $color-white;
            margin: 50px;
            padding: 40px;

            h3 {
                padding: 20px 0;
            }

            input {
                margin: 5px;
                height: 30px;
            }

            .form-wide {
                input {
                    width: auto;

                    @media (min-width: 480px) {
                        width: 385px;
                    }
                }
            }

            .user-form-btn {
                margin: 0;

                .solid-btn {
                    margin-left: 5px;
                }
            }
        }
    }

    &.features {
        flex-direction: column;
        background-color: $color-white;

        .features-grid {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @media (min-width: 834px) {
                flex-direction: row;
            }

            .single-feature-box {
                border-radius: $btn-radius;
                border: $border-blue;
                margin: 20px;
                width: 250px;
                
            }
        }
    }
}
.heading {
    padding: 50px 20px 0 20px;
    text-align: center;
}

.grid-container.bookshelf {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px 110px 0 110px;
    text-align: center;
}

.grid-box {
    position: relative;
}

.grid-box, .grid-box-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.book-img.view {
    height: 190px;
    width: 120px;
}

.book-img.view:hover {
    cursor: pointer;
}

.grid-box-btn:hover {
    background-color: rgb(255, 255, 255, 0.7);
}
/* .view-btn {
    display: none;
} */