.content-wrapper {
    background-color: var(--bg-color-tan);
    min-height: 70vh;
    padding-bottom: 300px;
    /* display: flex;
    justify-content: center;
    align-items: flex-start; */
    
}

.heading {
    text-align: center;
}