@import './variables.scss';

.content-container, .content-box {
    display: flex;
    justify-content: center;
    align-items: center;

    .content-box {
        &.home, &.login, &.register, &.books {
            flex-direction: column;
            margin: 30px auto;
        }
        &.home {
            align-items: flex-start;
        }
        &.books {
            margin: 0;
            width: 350px;

            @media (min-width: 480px) {
                flex-direction: row;
                justify-content: space-between;
                width: 690px;
            }
            @media (min-width: 835px) {
                flex-direction: row;
                justify-content: space-between;
                width: 1030px;
            }
        }
    }
    
    .user-form {
        background-color: $color-white;
        margin: 40px;
        padding: 10px 30px;

        h3 {
            padding: 20px 0;
        }

        input {
            margin: 5px;
            height: 30px;
        }

        .form-wide {
            input {
                width: auto;

                @media (min-width: 480px) {
                    width: 385px;
                }
            }
        }

        .user-form-btn {
            margin: 0;

            .solid-btn {
                margin-left: 5px;
            }
        }
    }

    &.features {
        flex-direction: column;
        background-color: $color-white;

        .features-grid {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @media (min-width: 835px) {
                flex-direction: row;
            }

            .single-feature-box {
                border-top: 1px solid rgb(169, 168, 168);
                border-left: 1px solid rgb(169, 168, 168);
                border-right: 6px solid rgb(169, 168, 168);
                border-bottom: 6px solid rgb(169, 168, 168);
                border-radius: 5px;
                margin: 20px;
                width: 220px;
                height: 370px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 10px;

                .feature-img {
                    border-radius: 50%;
                    width: 100px;
                    height: 200px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 20px;

                    img {
                        width: 150px;
                        height: 150px;
                    }

                }
                
                .feature-detail {
                    width: 180px;
                    
                    .feature-title {
                        margin-bottom: 10px;
                    }
                }

                &:hover {
                    img {
                        width: 170px;
                        height: 170px;
                    }
                }

                @media (min-width: 835px) {
                    margin: 50px 20px;
                }
            }
        }
    }

    &.search {
        flex-direction: column;
        margin: 20px 20px 0 20px;

        .search-form {
            display: flex;
            justify-content: center;
            align-items: center;
            
            input {
                margin: auto -1px;
                padding: 5px;
                height: 20px;
                width: 200px;
                border: $border-blue;

                @media (min-width: 835px) {
                    width: 400px;
                }
            }
            .solid-btn {
                width: 45px;
    
                &.search{
                    width: 37px;
                    height: 37px;
                    font-size: 24px;
                    margin: 0;
                    padding: 0;
                    display: flex;
                    
                    .fa-magnifying-glass {
                        margin: 6px 5px 0 6px;
                    }
    
                    .triangle-r {
                        width: 0;
                        height: 0;
                        border-top: 18px solid transparent;
                        border-left: 18px solid $color-blue;
                        border-bottom: 18px solid transparent;
                        margin-top: 1px;
                        border-radius: 5px;
                    }
                }
            }
        }
        .clear-search {
            height: 25px;
            width: 100px;
            margin-top: 5px;
            padding: 0;
            font-size: 11px;
        }
    }

    &.results {
        flex-direction: column;
        align-items: flex-start;
        background-color: $color-white;
        margin: 20px auto;
        padding: 10px;

        .content-box.top {
            width: 100%;
            justify-content: space-between;
            align-items: center;
        }

        .content-box.bottom {
            padding: 5px;
            align-items: flex-start;
        }

        .book-box-results {
            margin: 10px;

            &.detail {  
                margin-top: 0;
                
                @media (min-width: 810px) {
                    width: 700px;
                }
            }
        }
        
        .book-text.link {
            margin: 10px auto;
        }
    }
    &.bookshelf {
        flex-direction: column;

        .grid-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
            padding: 20px 110px;
            text-align: center;
            
            .grid-box {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 140px;
                
                .book-img {
                    height: 210px;
                    width: 140px;
                    border-radius: 5px 5px 0 0;
                }

                &.img:hover {
                    .book-img-overlay {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        background-color: rgb(255, 255, 255, 0.8);
                    }
                }
                
                .book-img-title {
                    background-color: $color-white;
                    width: 130px;
                    height: 100%;
                    padding: 5px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    border-radius: 0 0 5px 5px;
                }

                .book-img-overlay {
                    display: none;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border-radius: 5px 5px 0 0;
                }
            }
            @media (min-width: 480px) {
                grid-template-columns: repeat(4, 1fr);
            }
            @media (min-width: 835px) {
                grid-template-columns: repeat(6, 1fr);
                padding-bottom: 50px;
            }
        }

        .divider-book-list {
            background-color: $color-blue-light;
            font-weight: 800;
            height: 20px;
            width: 85%;
            padding: 5px 20px;
            text-align: center;

            @media (min-width: 480px) {
                width: 90%;
                text-align: left;
            }
            @media (min-width: 835px) {
                width: 77%;
                padding-left: 55px;
            }
        }
    }
}
