footer {
    height: 200px;
    border-top: var(--border-color);
    background-color: var(--bg-color-blue);
    bottom: 0;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-wrapper {
    width: 1400px;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-container.top {
    padding-top: 40px;
}

.footer-links-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0px;
}

.footer-link,
.footer-logo,
.footer-text {
    color: #ffffff;
}

.footer-text {
    padding-right: 20px;
}