$color-white: white;
$color-tan: rgb(236, 230, 216, 0.8);
$color-blue: rgb(0, 163, 184);
$color-blue-dark: rgb(0, 134, 151);
$border-white: 1px solid white;
$border-blue: 1px solid rgb(0, 163, 184);
$btn-radius: 5px;