@import './styles/variables.scss';
@import './styles/header.scss';
@import './styles/footer.scss';
@import './styles/components.scss';

* {
  margin: 0;
}

.App {
  color: black;
  min-height: 100vh;
  position: relative;
  background: url('../public/img/background-books.jpg') fixed;
  background-position: top;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  font-weight: 900;
  margin: 20px;
  cursor: pointer;
  color: $color-blue;
}

/* BUTTONS */
.solid-btn,
.outline-btn {
  text-align: center;
  width: 100px;
  padding: 10px;
  font-weight: 500;
  font-size: 14px;
  border-radius: $btn-radius;
  cursor: pointer;
}

.solid-btn {
  border: none;
  background-color: $color-blue;
  color: $color-white;
}

.outline-btn {
  border: $border-blue;
  background-color: $color-white;
  color: $color-blue;
}

button {
  &.solid-btn, &.outline-btn {
    width: 130px;
    margin: 20px;
  }
}

.modal {
  background-color: $color-white;
  color: $color-blue-dark;
  border: $border-blue;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 200px auto;
  overflow: hidden;
  padding: 25px;
  max-width: 500px;
}

.overlay-modal {
  background: rgba(255, 255, 255, 0.8);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}
