:root {
  --link-color: rgb(0, 163, 184);
  --border-color: 1px solid rgb(0, 163, 184);
  --border-white: 1px solid white;
  --bg-color-tan: rgb(236, 230, 216, 0.8);
  --bg-color-blue: rgb(0, 163, 184);
  --btn-radius: 5px;
  --btn-outline-bg: white;
  --btn-outline-text: rgb(0, 163, 184);
  --btn-solid-bg: rgb(0, 163, 184);
  --btn-solid-text: white;
}

* {
  margin: 0;
}

.App {
  color: black;
  min-height: 100vh;
  position: relative;
  background: url('../public/img/background-books.jpg') fixed;
  background-position: top;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  font-weight: 900;
  margin: 20px;
  cursor: pointer;
  color: var(--link-color);
}

/* BUTTONS */
.solid-btn,
.outline-btn {
  text-align: center;
  width: 100px;
  padding: 10px;
  font-weight: 500;
  font-size: 14px;
  border-radius: var(--btn-radius);
  cursor: pointer;
}

.solid-btn {
  border: none;
  background-color: var(--btn-solid-bg);
  color: var(--btn-solid-text);
}

.outline-btn {
  border: var(--border-color);
  background-color: var(--btn-outline-bg);
  color: var(--btn-outline-text);
}

button.solid-btn,
button.outline-btn {
  width: 130px;
  margin: 20px;
}

.modal {
  background-color: rgb(196, 250, 255);
  color: black;
  border: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 200px auto;
  overflow: hidden;
  padding: 25px;
  max-width: 500px;
}

.overlay-modal {
  background: rgba(255, 255, 255, 0.8);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}
