@import './styles/variables.scss';
@import './styles/header.scss';
@import './styles/footer.scss';
@import './styles/components.scss';

* {
  margin: 0;
  font-family: 'Solway', serif;
}

.App {
  color: black;
  min-height: 100vh;
  position: relative;
  background: url('../public/img/background-books.jpg') fixed;
  background-position: top;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  font-weight: 900;
  margin: 20px;
  cursor: pointer;
  color: $color-blue;
}

/* BUTTONS */
.solid-btn, .outline-btn {
  text-align: center;
  width: 100px;
  padding: 10px;
  font-weight: 500;
  font-size: 14px;
  border-radius: $btn-radius;
  cursor: pointer;
}

.solid-btn {
  border: $border-blue;
  background-color: $color-blue;
  color: $color-white;

  &:hover {
    border: $border-blue;
    background-color: $color-white;
    color: $color-blue;
  }
}

.outline-btn {
  border: $border-blue;
  background-color: $color-white;
  color: $color-blue;

  &:hover {
    border: $border-blue;
    background-color: $color-blue;
    color: $color-white;
  }
}

button {
  &.solid-btn, &.outline-btn {
    width: 130px;
    margin: 20px;
  }
}

.modal {
  background-color: $color-white;
  color: $color-blue-dark;
  border: $border-blue;
  margin: 150px 10px;
  overflow: hidden;
  padding: 25px;
  max-width: 320px;
  display: flex;
  justify-content: center;
  
  @media (min-width: 480px) {
    margin: 200px auto;
    max-width: 500px;
  }
}

.book-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  
  .outline-btn, .solid-btn {
    margin: 0;
  }
  .book-form-rows {
    padding: 5px 0;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    
    label {
      margin-right: 25px;
      
      @media (min-width: 480px) {
        margin-right: 70px;
      }
    }
    input {
      width: 150px;
      height: 15px;
      
      @media (min-width: 480px){
        width: 275px;
        height: 20px;
      }
    }
    &.dropdown {
      justify-content: left;
      
      select {
        margin-left: 8px;
        width: 155px;
        
        @media (min-width: 480px) {
          width: 285px;
        }
      }
    }
  }
  .required-field {
    color: rgb(255, 0, 0);
    font-style: italic;
    
    &.note {
      font-size: .75em;
      margin-bottom: 15px;
    }
  }
}

.overlay-modal {
  background: rgba(255, 255, 255, 0.8);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.bold-text {
  font-weight: 800;
}
.italic-text {
  font-style: italic;
}

.heading {
  padding: 50px 20px 20px 20px;

  &.login, &.register {
    text-align: center;
  }

  &.bookshelf {
    padding: 0 20px;
  }
}

.content-wrapper {
  background-color: $color-tan;
  min-height: 50vh;
  width: 95%;
  margin: 0 auto;
  padding-bottom: 415px;

  @media (min-width: 480px) {
    width: 90%;
    padding-bottom: 245px;
  }
  @media (min-width: 835px) {
    width: 70%;
    padding-bottom: 245px;
  }
}