/* :root
  --btn-bg-outline: ;
  --btn-bg-solid: ;
  --btn-border-outline: ;
  --btn-border-solid: ;
  --btn-text-outline: ;
  --btn-text-solid: ;
 */

.App {
  text-align: center;
  color: black;
}

.modal {
  background-color: rgb(196, 250, 255);
  color: black;
  border: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 200px auto;
  overflow: hidden;
  padding: 25px;
  max-width: 500px;
}

.overlay-modal {
  background: rgba(255, 255, 255, 0.8);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}
